.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-3d nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel-3d nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: $red;
    background: #fff;
    border: 0;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: bold;
    transition: all .3s ease;
}
.carousel-3d nav button:hover {
    color: #FFF;
    background: $pink;
}